{% extends 'core/base.html' %}

{% block title %}
Wykres z inflacją w poszczególnych kategoriach
{% endblock title %}

{% block content %}
<form metohd="GET" action="{% url 'category_inflation' %}">
    {% for field in form %}
        <div>
            {{ field.label_tag }} {{ field }}
        </div>
        <br>
    {% endfor %}


    <button>Submit</button>

    {% if form.errors %}
        <br><br>
        <div style="color:red;">
            {% for field_errors in form.errors.values %}
                {% for error in field_errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</form>

{{ chart|safe }}

<div class="links">
    <a href="{% url 'index' %}">Wyświetl wykres z ogólną inflacją</a>
    <a href="{% url 'own_inflation' %}">Stwórz wykres z własną inflacją</a>
</div>

{% endblock content %}