{% extends 'core/base.html' %}

{% block title %}
Wykres z własną inflacją
{% endblock title %}

{% block content %}
<h3>Wpisz wagi twoich wydatków w poszczególnych kategoriach.
    Pamiętaj, że suma wag powinna być równa 100.</h3>
<form metohd="GET" action="{% url 'own_inflation' %}" autocomplete="on">
    {% for field in form %}
        <div>
            {{ field.label_tag }} {{ field }}
        </div>
        <br>
    {% endfor %}


    <button>Submit</button>

    {% if form.errors %}
        <br><br>
        <div style="color:red;">
            {% for field_errors in form.errors.values %}
                {% for error in field_errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</form>

{{ chart|safe }}

<div class="links">
    <a href="{% url 'index' %}">Wyświetl wykres z ogólną inflacją</a>
    <a href="{% url 'category_inflation' %}">Stwórz wykres z inflacją w poszczególnych kategoriach</a>

</div>

{% endblock content %}